@import "~bulma/sass/utilities/initial-variables";

//Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

//Fonts variabels
$openSans: "Open Sans", sans-serif;
//Color variabels
$white: #ffffff;
$footer-background: #222222;
$footer-content: #aaaaaa;
$company-info-h2-color: #89919f;
$company-info-h1-color: #515b69;
$company-info-p-color: #89919f;
$product-section-h1: #515b69;
$product-section-h2: #89919f;
$product-section-p: #7f8795;

// ---------- NAVBAR COMPONENT ---------//
.navbar {
  position: absolute !important;
  top: 0;
  background-color: transparent !important;
  width: 100% !important;
  padding-top: 2rem;

  .navbar-burger {
    color: $white;
    border: 1px solid;
  }
  .navbar-item {
    color: $white;
    font-size: 16px;
    font-family: $openSans;
  }
  .navbar-item:hover {
    color: $white;
  }
  .navbar-item::after {
    content: "";
    position: absolute !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 2px !important;
    background: $white !important;
    -webkit-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
    -webkit-transform-origin: right !important;
    transform-origin: right !important;
    transition: -webkit-transform 250ms ease-in !important;
    transition: transform 250ms ease-in !important;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in !important;
  }
  .navbar-item:hover::after {
    -webkit-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
    -webkit-transform-origin: left !important;
    transform-origin: left !important;
  }
}
// ---------- HERO COMPONENT ---------//
.full-width-image-container {
  width: 100vw;
  height: 650px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 0em -50vw;
  background-size: cover;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: $white !important;
    padding: 1rem !important;
    text-align: center;
    font-size: 70px !important;
    font-family: $openSans;
    font-weight: 300 !important;
  }
  @media only screen and (max-width: 1020px) {
    h2 {
      font-size: 40px !important;
    }
  }
  h3 {
    color: $white !important;
    padding: 1rem !important;
    font-size: 24px !important;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 55%;
    text-align: center;
    font-family: $openSans;
    font-size: 24px;
    line-height: 38px;
    font-weight: 300 !important;
  }
}

.section {
  padding: 7rem 1.5rem !important;
}

// ---------- FRONTPAGE ---------//
#companyInfo {
  text-align: center;

  .columns {
    padding: 1em;
  }
  h1 {
    font-size: 50px !important;
    color: $company-info-h1-color;
    padding-bottom: 1rem;
    font-family: $openSans;
    font-weight: 300;
  }
  h2 {
    color: $company-info-h2-color;
    font-size: 28px !important;
    font-family: $openSans;
    font-weight: 300;
  }
  p {
    color: $company-info-p-color;
    font-family: $openSans;
    font-weight: 300;
    font-size: 22px;
    margin-top: 3rem;
  }
  @media only screen and (max-width: 1020px) {
    h1 {
      font-size: 36px !important;
    }
  }
}

// ---------- PRODUCT SECTION ---------//
#productSection {
  h1 {
    font-family: $openSans;
    font-size: 50px;
    color: $product-section-h1;
    padding-bottom: 2rem;
    font-weight: 300;
  }
  @media only screen and (max-width: 1020px) {
    h1 {
      font-size: 27px !important;
    }
    h2 {
      font-family: $openSans;
      font-size: 28px;
      font-weight: 300;
      color: $product-section-h2;
      padding-bottom: 2rem;
    }
  }
  p {
    font-family: $openSans;
    font-size: 22px;
    font-weight: 300;
    color: $product-section-p;
  }
}
// ---------- PORTFOLIO COMPONENT ---------//
.images {
  h1 {
    font-family: $openSans !important;
    font-size: 40px !important;
    font-weight: 300 !important;
    color: $company-info-h1-color !important;
    text-align: center;
  }
}

// ---------- TJENESTER COMPONENT ---------//
#tjenester {
  .columns {
    text-align: center;
    color: $white;
    font-size: 40px;
    font-family: $openSans;
    font-weight: 300;
  }
  .column {
    height: 25rem;
    vertical-align: top;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #column1 {
    color: #515b69;
    font-style: italic;
  }
  #column2 {
    background-color: #1a5b9b;
  }
  #column3 {
    background-color: #1a63ac;
  }
  #column4 {
    background-color: #4887c7;
  }
  img {
    margin-top: 2rem;
  }
  a {
    color: $white;
  }

  .column:hover {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
// ---------- EMPLOYEES COMPONENT ---------//

#employees {
  .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: minmax(70px, auto);
  }
  a {
    color: black;
    transition: transform 0.5s !important;
  }
  a:hover {
    transform: scale(0.95) !important;
  }
}

// ---------- CONTACT PAGE ---------//
#contact {
  h2 {
    font-size: 32px !important;
    font-family: $openSans !important;
    font-weight: 300 !important;
    padding-bottom: 2rem;
    color: $company-info-h1-color !important;
  }
  p {
    font-size: 22px !important;
    font-family: $openSans;
    font-weight: 300 !important;
    color: $company-info-h1-color !important;
  }
  a {
    color: $company-info-h1-color;
    transition: transform 0.5s !important;
  }
  a:hover {
    transform: scale(0.95) !important;
    color: $company-info-p-color;
  }
}
// ---------- TEAM COMPONENT ---------//
#team {
  h1 {
    font-family: $openSans !important;
    color: $company-info-h1-color !important;
    font-weight: 300 !important;
    font-size: 50px !important;
    padding-bottom: 3rem;
  }
  h3 {
    font-family: $openSans !important;
    color: $company-info-h1-color !important;
    font-weight: 300 !important;
    font-size: 28px !important;
  }
  p {
    font-family: $openSans !important;
    font-size: 22px !important;
    font-weight: 300 !important;
    color: $company-info-p-color;
  }
  .phoneNumber {
    color: $company-info-h1-color;
  }
  .phoneNumber:hover {
    color: $company-info-p-color;
  }
}

// ---------- ABOUT PAGE ---------//

li {
  font-family: $openSans;
  font-size: 22px;
  font-weight: 300;
  color: $company-info-p-color;
}

// ---------- FOOTER COMPONENT ---------//

footer {
  background-color: $footer-background !important;

  .footer-title {
    color: $white !important;
  }
  .content {
    color: $footer-content;
  }
  p a {
    color: $footer-content;
  }
  p a:hover {
    color: $white;
  }
  .navbar-item {
    color: $footer-content !important;
    font-family: $openSans !important;
    font-weight: 300 !important;
  }
  .navbar-item:hover {
    background-color: $footer-background !important;
    color: $white !important;
  }
  ul {
    list-style: none !important;
  }
  @media only screen and (max-width: 1020px) {
    .content ul {
      list-style: none !important;
    }
    .has-text-left {
      text-align: center !important;
    }
  }
}

//Mobile
@media only screen and (max-width: 1020px) {
  .navbar {
    .nav-links {
      border-bottom: 1px solid;
    }
    #navMenu {
      background-color: #262626 !important;
    }
  }
}

@import "~bulma";
